.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #c1c1c1;
	border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #a8a8a8;
}

/* 애니메이션 스타일 추가 */
@keyframes drift {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes drift-slow {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes drift-fast {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

.animate-drift {
	animation: drift 5s linear infinite;
}

.animate-drift-slow {
	animation: drift-slow 7s linear infinite;
}

.animate-drift-fast {
	animation: drift-fast 3s linear infinite;
}
