@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Pretendard";
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}

@layer base {
	html {
		font-family: "Pretendard", system-ui, sans-serif;
	}
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}
